:root {
  --airbean-brown: #2f2926;
  --airbean-d-green: #0e927d;
  --airbean-l-green: #38846d;
  --airbean-pink: #f3e4e1;
  --airbean-orange: #e5674e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--airbean-l-green);
}
